body {
    background-image: linear-gradient(rgb(249, 110, 4), rgb(9, 249, 253));
    background-color: #28f4f7;
    height: 100%;
    margin: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


